[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "extern/computecpp-sdk"]
	path = extern/computecpp-sdk
	url = git@github.com:codeplaysoftware/computecpp-sdk.git
[submodule "extern/cpp-typelist"]
	path = extern/cpp-typelist
	url = https://github.com/lipk/cpp-typelist.git
